.header {
  width: 100%;
  background-color: $secondary-color;
  overflow: auto;
  box-sizing: border-box;

  a {
    float: left;
    padding: 1.1vw;
    color: white;
    text-decoration: none;
    font-size: 1.5vmax;
    box-sizing: border-box;
  }

  a:hover {
    background-color: #000;
  }

  .active {
    background-color: $primary-color;
  }
}


@media screen and (orientation: portrait) {
  .header a {
    float: left;
    padding: 1.5vmax;
    display: block;
    font-size: 2vmax;
    width: 100%;
  }
}