@import "scss/commons";

@font-face {
  src: url("scss/fonts/Manrope.ttf");
  font-family: "Manrope";
}

//iframe#webpack-dev-server-client-overlay {
//  display: none !important
//}

body {
  background-color: $background;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@import "scss/spinner";
@import "components/Footer/footer";
@import "components/Header/header";
@import "components/CategoryMenu/categoryMenu";
@import "components/Wrapper/wrapper";
@import "components/Carousel/carousel";
@import "pages/login/forms";
@import "pages/profile/profile";
@import "pages/problems/problems";
@import "pages/carousel/carouselPage";
@import "pages/admins/admins";
@import "pages/home/home";

.container {
  width: 100vw;
  margin: auto;
  box-sizing: border-box;
  font-family: "Manrope";
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.hide {
  display: none;
}

@for $i from 0 through 5 {
  .margin-#{$i} {
    margin: #{$i}vmax;
  }
  .margin-left-#{$i} {
    margin-left: #{$i}vmax;
  }
  .margin-right-#{$i} {
    margin-right: #{$i}vmax;
  }
  .margin-top-#{$i} {
    margin-top: #{$i}vmax;
  }
  .margin-bottom-#{$i} {
    margin-bottom: #{$i}vmax;
  }
}