@font-face {
  src: url("fonts/Manrope.ttf");
  font-family: "Manrope";
}
body {
  background-color: #FBFEF9;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.spinner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vmax 0 3vmax 0;
}
.spinner-wrapper .spinner {
  width: 5vmax;
  height: 5vmax;
  border-radius: 50%;
  border: 9px solid #ffa500;
  animation: spinner-bulqg1 0.8s infinite linear alternate, spinner-oaa3wk 1.6s infinite linear;
}
@keyframes spinner-bulqg1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%);
  }
}
@keyframes spinner-oaa3wk {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}

.footer {
  background: #555555;
  box-sizing: border-box;
  color: #FBFEF9;
  width: 100%;
  padding: 2vw;
  float: left;
  overflow-wrap: break-word;
}
.footer .footer-section {
  width: 50%;
  box-sizing: border-box;
  float: left;
  font-size: 1.2vw;
}
.footer .footer-section h1 {
  text-align: right;
}
.footer .footer-section p {
  text-align: right;
}
.footer .footer-section .footer-container {
  width: 100%;
  float: left;
  font-size: 2vmax;
  box-sizing: border-box;
}
.footer .footer-section .footer-container .half {
  float: left;
}
.footer .footer-section .footer-container .half:nth-child(1) {
  width: 20%;
  text-align: right;
  padding-right: 5%;
  box-sizing: border-box;
}
.footer .footer-section .footer-container .half:nth-child(2) {
  width: 80%;
}
.footer .footer-section .footer-container .half a {
  color: #FBFEF9;
}

@media screen and (orientation: portrait) {
  .footer {
    padding-top: 3vmax;
  }
  .footer .footer-section {
    width: 100%;
    float: left;
    font-size: 2.4vmax;
    margin-bottom: 4vmax;
  }
  .footer .footer-section h1 {
    text-align: left;
  }
  .footer .footer-section p {
    text-align: justify;
  }
  .footer .footer-section .footer-container {
    font-size: 3vmax;
  }
  .footer .footer-section:nth-child(2) {
    margin-bottom: 0;
  }
}
.header {
  width: 100%;
  background-color: #555555;
  overflow: auto;
  box-sizing: border-box;
}
.header a {
  float: left;
  padding: 1.1vw;
  color: #FBFEF9;
  text-decoration: none;
  font-size: 1.5vmax;
  box-sizing: border-box;
  cursor: pointer;
}
.header .menu-profile-section {
  float: left;
  padding: 0;
  margin: 0;
  height: 2.05vmax;
}
.header .menu-profile-section img {
  height: 100%;
  margin-right: 0.8vmax;
}
.header a:hover {
  background-color: #000;
}
.header .active {
  background-color: #FFA500;
}

@media screen and (orientation: portrait) {
  .header a {
    float: left;
    padding: 1.5vmax;
    display: block;
    font-size: 2.4vmax;
    width: 100%;
    cursor: pointer;
  }
  .header .menu-profile-section {
    height: 3.15vmax;
  }
  .header .menu-profile-section img {
    height: 100%;
    margin-right: 1.4vmax;
  }
}
nav {
  padding-right: 5%;
}
nav .category-button {
  width: 100%;
  background-color: #555555;
  color: #FBFEF9;
  padding: 0.6vmax;
  box-sizing: border-box;
  cursor: pointer;
}
nav .categories {
  overflow: hidden;
}
nav .categories a {
  text-decoration: none;
  color: #000;
}
nav .categories a.active li {
  background-color: #FFA500;
  color: white;
}
nav .categories ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav .categories ul li {
  padding: 0.3vmax 10%;
}
nav .categories ul li:hover {
  background-color: #FFA500;
  color: white;
  cursor: pointer;
}

@media screen and (orientation: portrait) {
  nav {
    padding: 0;
    font-size: 2.4vmax;
  }
  nav .category-button {
    width: 100%;
    background-color: #555555;
    color: #FBFEF9;
    padding: 0.6vmax;
    cursor: pointer;
  }
  nav .categories ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  nav .categories ul li {
    padding: 0.3vmax 2.5vmax;
  }
  nav .categories ul li:hover {
    background-color: #FFA500;
    color: white;
    cursor: pointer;
  }
}
.main {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.5vmax;
}
.main .main-left {
  width: 20%;
  float: left;
  padding: 1vmax;
  box-sizing: border-box;
}
.main .main-right {
  width: 80%;
  float: left;
  padding: 1vmax;
  box-sizing: border-box;
}

@media screen and (orientation: portrait) {
  .main .main-left {
    width: 100%;
    float: left;
    padding: 0 5%;
    box-sizing: border-box;
  }
  .main .main-right {
    width: 100%;
    float: left;
    padding: 5%;
    font-size: 2.4vmax;
    box-sizing: border-box;
  }
}
.form-page {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-page .form {
  width: 40%;
}
.form-page .form fieldset {
  width: 100%;
  border-radius: 1vmax;
  border: 0.2vmax solid #555555;
  box-sizing: border-box;
  padding: 1vmax 2vmax;
}
.form-page .form fieldset form .form-group {
  width: 100%;
  margin: 1.4vmax 0;
  box-sizing: border-box;
}
.form-page .form fieldset form .form-group:nth-child(1) {
  margin-top: -1vmax;
}
.form-page .form fieldset form .form-group label {
  font-weight: 700;
  font-size: 1.2vmax;
}
.form-page .form fieldset form .form-group input {
  width: 100%;
  padding: 0.5vmax;
  box-sizing: border-box;
  border: 0.14vmax solid #555555;
  font-size: 1.3vmax;
}
.form-page .form fieldset form .form-group input[type=submit] {
  color: white;
  background-color: #FFA500;
  width: 40%;
  border-radius: 0.2vmax;
  border: 0;
  cursor: pointer;
  padding: 0.6vmax 0;
  margin-top: 1vmax;
}
.form-page .form fieldset form .form-group input[type=submit]:hover {
  background-color: #f09b00;
}
.form-page .form fieldset form .error {
  font-weight: 700;
  color: red;
  font-style: italic;
}
.form-page .form fieldset legend {
  padding: 0;
  margin: 0;
  text-align: center;
  color: #FFA500;
  font-size: 7vmax;
}

@media screen and (orientation: portrait) {
  .form-page .form {
    width: 100%;
  }
  .form-page .form fieldset legend {
    font-size: 13vmax;
  }
  .form-page .form fieldset form .form-group {
    margin: 2.5vmax 0;
  }
  .form-page .form fieldset form .form-group label {
    font-size: 2.2vmax;
  }
  .form-page .form fieldset form .form-group input {
    font-size: 2.5vmax;
    padding: 1vmax;
  }
  .form-page .form fieldset form .form-group input[type=submit] {
    padding: 1.2vmax 0;
  }
}
.container {
  width: 100vw;
  margin: auto;
  box-sizing: border-box;
  font-family: "Manrope";
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.hide {
  display: none;
}

.margin-0 {
  margin: 0vmax;
}

.margin-left-0 {
  margin-left: 0vmax;
}

.margin-right-0 {
  margin-right: 0vmax;
}

.margin-top-0 {
  margin-top: 0vmax;
}

.margin-bottom-0 {
  margin-bottom: 0vmax;
}

.margin-1 {
  margin: 1vmax;
}

.margin-left-1 {
  margin-left: 1vmax;
}

.margin-right-1 {
  margin-right: 1vmax;
}

.margin-top-1 {
  margin-top: 1vmax;
}

.margin-bottom-1 {
  margin-bottom: 1vmax;
}

.margin-2 {
  margin: 2vmax;
}

.margin-left-2 {
  margin-left: 2vmax;
}

.margin-right-2 {
  margin-right: 2vmax;
}

.margin-top-2 {
  margin-top: 2vmax;
}

.margin-bottom-2 {
  margin-bottom: 2vmax;
}

.margin-3 {
  margin: 3vmax;
}

.margin-left-3 {
  margin-left: 3vmax;
}

.margin-right-3 {
  margin-right: 3vmax;
}

.margin-top-3 {
  margin-top: 3vmax;
}

.margin-bottom-3 {
  margin-bottom: 3vmax;
}

.margin-4 {
  margin: 4vmax;
}

.margin-left-4 {
  margin-left: 4vmax;
}

.margin-right-4 {
  margin-right: 4vmax;
}

.margin-top-4 {
  margin-top: 4vmax;
}

.margin-bottom-4 {
  margin-bottom: 4vmax;
}

.margin-5 {
  margin: 5vmax;
}

.margin-left-5 {
  margin-left: 5vmax;
}

.margin-right-5 {
  margin-right: 5vmax;
}

.margin-top-5 {
  margin-top: 5vmax;
}

.margin-bottom-5 {
  margin-bottom: 5vmax;
}

/*# sourceMappingURL=index.css.map */
