.paginator {
  width: 100%;
  clear: both;
  text-align: center;

  ul {
    list-style-type: none;

    li {
      display: inline-block;
      padding: 0.8vmax;
      border: 0.15vmax solid $primary-color;
      cursor: pointer;

      &.without {
        border-right: none;
      }

      &:hover {
        background-color: $primary-color;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .paginator {
    ul {
      li {
        padding: 3vw;
        border-width: 0.7vw;
      }
    }
  }
}