.carousel-page {
  width: 100%;

  .carousel-section {

    h2 {
      margin: 1.7vmax 0;
      text-align: center;
    }

    form {
      width: 50%;
    }
  }
}

table {
  width: 100%;
  border: 0.1vmax solid $secondary-color;
  border-collapse: collapse;

  tr {

    td, th {
      border: 0.1vmax solid $secondary-color;
      box-sizing: border-box;
      padding: 0.3vmax;

      img {
        width: 100%;
        margin-top: auto;
        margin-bottom: auto;
      }

      input[type="button"] {
        color: white;
        background-color: $primary-color;
        width: 100%;
        border-radius: 0.2vmax;
        border: 0;
        cursor: pointer;
        font-size: 1.3vmax;
        padding: 0.6vmax;

        &:hover {
          background-color: darken($primary-color, 3%);
        }
      }
    }
  }
}

@media screen and (orientation: portrait) {
  .carousel-page {
    .carousel-section {
      max-width: 100%;

      form {
        width: 100%;
      }
    }
  }

  table {
    tr {
      td, th {
        input[type="button"] {
          font-size: 4vw;
        }
      }
    }
  }
}