/* Error: This file is already being loaded.
 *   ,
 * 4 | @import "components/Footer/footer";
 *   |         ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   ..\..\index.scss 4:9  @use
 *   footer.scss 1:1       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: This file is already being loaded.\a   \2577 \a 4 \2502  @import "components/Footer/footer";\d\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   ..\\..\\index.scss 4:9  @use\a   footer.scss 1:1       root stylesheet';
}
